.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  text-transform: capitalize;
}
.app p {
  margin: 20px;
}

.app .game:last-child {
  position: relative;
  top: -200px;
}

.scoreRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  width: 100vw;
}

h3.danger {
  color: red;
}

h3.warning {
  color: yellow;
}

.game {
  display: flex;
  flex-direction: column;
}

.players {
  display: flex;
  flex-direction: row;
}
.player {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.winner {
  display: flex;
  flex-direction: column;
  color: red;
}
